.landingpage-drug-card-container{
    display: flex;
    flex-direction: column;
    width: 290px;
    box-shadow: 4px -1px 31px #33333347;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    min-width: 300px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px;
    background: #fff;
}
.landingpage-drug-card-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingpage-drug-card-img{
    width: 50%;
}
.landingpage-drug-card-btn-container{
    display: flex;
    gap: 10px;
}
.landingpage-drug-card-btn-container > div{
    background-color: #aa044e;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 100;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.landing-page-drug-card-info{
    border-bottom: 1px solid rgb(194, 194, 194);
    padding-bottom: 10px;
    width: 290px;
    text-align: center;
}
@media screen and (max-width:900px){
    .landingpage-drug-card-container{
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: center;
        padding: 20px;
        background: #fff;
    }
}