.Dashboard-main-container{
    display:grid;
    grid-template-columns: 300px auto;
    margin-top: 50px; 

}
.Dashboard-sidebar{
    height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #0e2445;
  overflow-x: hidden;
  color: #fff;
  top:0px;
}
.Dashboard-main{
    margin-left: 300px; /* Same as the width of the sidenav */
    /* font-size: 28px; Increased text to enable scrolling */
    padding: 0px 10px;
    margin-top: 10px;
 
}
.dashboard-sidebar-logo{
    height: 60px;
    background-color: #124eb1;
}
.Dashboard-Header{
    height: 60px;
    background: #124eb1;
    position: fixed;
    top: 0px;
    color:#fff;
    width: 100vw;
    margin-left:300px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 50vw
}
.dashboard{
    display: flex;
    flex-direction: column;
}
.dashboard-sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dashboard-sidebar-items{
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    border-bottom: .1px solid #999;
    height: 50px;
    align-items: center;
    cursor: pointer;
}
.dashboard-sidebar-items:hover{
    background-color: rgba(153, 153, 153, 0.164);
}
.dashboard-sidebar-item-container{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
  
}
.dashboard-sidebar-logout{
    margin-top: 160px;
    display: flex;
    padding: 10px 20px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.Dashboard-main-hearder-nav{
    font: 12px;
    display:flex;
    gap:10px;
    font-weight: 400;
 
}
.Dashboard-main-hearder-nav-header{
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
    /* identical to box height */
    color: #464749;
}
.Dashboard-main-hearder-nav-home{
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    /* identical to box height */
    color: #043CAA;
   
}
.Dashboard-main-hearder-nav-location{
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    /* identical to box height */
    color: #000000;
}
.dashboard-card-container {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    gap: 10px;
}
.Dashboard-dashboard-main-container{
    background-color: #DADADA;
    width: max-content;
    padding: 24px 39px;
    border-radius: 5px;
    margin-top: 20px;
    height: 90vh;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.Dashborard-header-forn-search-bar{
    width: 206px;
    padding:5px 12px;
    background: #DADADA;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #3D3D3D;
    display: flex;
    align-items: center;
}
.Dashborard-header-forn-search-bar-input{
    border: 0;
    outline: none;
    background-color: #DADADA;
}
.Dashborard-header-forn-search-bar-form{
    display: flex;
}
.Dashborard-header-edit-profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
@media screen and (max-width:600px) {
    .Dashboard-sidebar{
        display: none;
    }
    .Dashboard-main{
        margin: 0;
    }
    .Dashboard-Header{
        margin: 0;
        gap: 35vw
    }
    .dashboard-card-container {
        grid-template-columns: 230px 230px ;
        gap: 10px;
    }
}